In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('H-1B_Disclosure_Data_FY17.csv')

C:\Users\dell1\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (15,16,17,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()

,Unnamed: 0,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,0,I-200-16055-173457,CERTIFIED-WITHDRAWN,2016-02-24,2016-10-01,H-1B,2016-08-10,2019-08-10,DISCOVER PRODUCTS INC.,NaN,...,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,2016-03-01
1,1,I-200-16064-557834,CERTIFIED-WITHDRAWN,2016-03-04,2016-10-01,H-1B,2016-08-16,2019-08-16,DFS SERVICES LLC,NaN,...,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,2016-03-08
2,2,I-200-16063-996093,CERTIFIED-WITHDRAWN,2016-03-10,2016-10-01,H-1B,2016-09-09,2019-09-09,EASTBANC TECHNOLOGIES LLC,NaN,...,Y,N,Y,NaN,NaN,WASHINGTON,NaN,DC,20007,2016-03-16
3,3,I-200-16272-196340,WITHDRAWN,2016-09-28,2016-10-01,H-1B,2017-01-26,2020-01-25,INFO SERVICES LLC,NaN,...,Y,N,Y,NaN,NaN,JERSEY CITY,HUDSON,NJ,07302,NaN
4,4,I-200-15053-636744,CERTIFIED-WITHDRAWN,2015-02-22,2016-10-02,H-1B,2015-03-01,2018-03-01,BB&T CORPORATION,NaN,...,N,N,NaN,Y,NaN,NEW YORK,NEW YORK,NY,10036,2015-02-26

In [7]:
df.to_pickle('H1B_disclosure')

In [126]:
df = pd.read_pickle('H1B_disclosure')

In [9]:
df.head()

,Unnamed: 0,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,0,I-200-16055-173457,CERTIFIED-WITHDRAWN,2016-02-24,2016-10-01,H-1B,2016-08-10,2019-08-10,DISCOVER PRODUCTS INC.,NaN,...,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,2016-03-01
1,1,I-200-16064-557834,CERTIFIED-WITHDRAWN,2016-03-04,2016-10-01,H-1B,2016-08-16,2019-08-16,DFS SERVICES LLC,NaN,...,N,N,NaN,Y,NaN,RIVERWOODS,LAKE,IL,60015,2016-03-08
2,2,I-200-16063-996093,CERTIFIED-WITHDRAWN,2016-03-10,2016-10-01,H-1B,2016-09-09,2019-09-09,EASTBANC TECHNOLOGIES LLC,NaN,...,Y,N,Y,NaN,NaN,WASHINGTON,NaN,DC,20007,2016-03-16
3,3,I-200-16272-196340,WITHDRAWN,2016-09-28,2016-10-01,H-1B,2017-01-26,2020-01-25,INFO SERVICES LLC,NaN,...,Y,N,Y,NaN,NaN,JERSEY CITY,HUDSON,NJ,07302,NaN
4,4,I-200-15053-636744,CERTIFIED-WITHDRAWN,2015-02-22,2016-10-02,H-1B,2015-03-01,2018-03-01,BB&T CORPORATION,NaN,...,N,N,NaN,Y,NaN,NEW YORK,NEW YORK,NY,10036,2015-02-26

In [11]:
df.shape

(624650, 53)

In [10]:
df.isna().sum()

Unnamed: 0                          0
CASE_NUMBER                         0
CASE_STATUS                         0
CASE_SUBMITTED                      0
DECISION_DATE                       0
VISA_CLASS                          0
EMPLOYMENT_START_DATE              29
EMPLOYMENT_END_DATE                30
EMPLOYER_NAME                      56
EMPLOYER_BUSINESS_DBA          581380
EMPLOYER_ADDRESS                    7
EMPLOYER_CITY                      15
EMPLOYER_STATE                     18
EMPLOYER_POSTAL_CODE               18
EMPLOYER_COUNTRY                96507
EMPLOYER_PROVINCE              618534
EMPLOYER_PHONE                  96508
EMPLOYER_PHONE_EXT             596778
AGENT_REPRESENTING_EMPLOYER     96506
AGENT_ATTORNEY_NAME                 0
AGENT_ATTORNEY_CITY            273306
AGENT_ATTORNEY_STATE           288641
JOB_TITLE                           5
SOC_CODE                            2
SOC_NAME                            3
NAICS_CODE                          7
TOTAL_WORKERS                       0
NEW_EMPLOYMENT                      0
CONTINUED_EMPLOYMENT                0
CHANGE_PREVIOUS_EMPLOYMENT          0
NEW_CONCURRENT_EMPLOYMENT           0
CHANGE_EMPLOYER                     0
AMENDED_PETITION                    0
FULL_TIME_POSITION                  5
PREVAILING_WAGE                     1
PW_UNIT_OF_PAY                     46
PW_WAGE_LEVEL                  123720
PW_SOURCE                          46
PW_SOURCE_YEAR                     45
PW_SOURCE_OTHER                  6372
WAGE_RATE_OF_PAY_FROM               0
WAGE_RATE_OF_PAY_TO                 1
WAGE_UNIT_OF_PAY                    8
H1B_DEPENDENT                   13742
WILLFUL_VIOLATOR                13745
SUPPORT_H1B                    384174
LABOR_CON_AGREE                379675
PUBLIC_DISCLOSURE_LOCATION     624650
WORKSITE_CITY                      13
WORKSITE_COUNTY                  1179
WORKSITE_STATE                      9
WORKSITE_POSTAL_CODE               19
ORIGINAL_CERT_DATE             574942
dtype: int64

In [13]:
df['CASE_STATUS'].value_counts()

CERTIFIED              545694
CERTIFIED-WITHDRAWN     49704
WITHDRAWN               20772
DENIED                   8480
Name: CASE_STATUS, dtype: int64

In [127]:
df.drop(['PUBLIC_DISCLOSURE_LOCATION', 'ORIGINAL_CERT_DATE', 'EMPLOYER_BUSINESS_DBA', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE_EXT'], 1, inplace = True)

In [15]:
df.head()

,Unnamed: 0,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,...,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE
0,0,I-200-16055-173457,CERTIFIED-WITHDRAWN,2016-02-24,2016-10-01,H-1B,2016-08-10,2019-08-10,DISCOVER PRODUCTS INC.,2500 LAKE COOK ROAD,...,67320.0,Year,N,N,NaN,Y,RIVERWOODS,LAKE,IL,60015
1,1,I-200-16064-557834,CERTIFIED-WITHDRAWN,2016-03-04,2016-10-01,H-1B,2016-08-16,2019-08-16,DFS SERVICES LLC,2500 LAKE COOK ROAD,...,57200.0,Year,N,N,NaN,Y,RIVERWOODS,LAKE,IL,60015
2,2,I-200-16063-996093,CERTIFIED-WITHDRAWN,2016-03-10,2016-10-01,H-1B,2016-09-09,2019-09-09,EASTBANC TECHNOLOGIES LLC,1211 31ST ST. NW,...,0.0,Year,Y,N,Y,NaN,WASHINGTON,NaN,DC,20007
3,3,I-200-16272-196340,WITHDRAWN,2016-09-28,2016-10-01,H-1B,2017-01-26,2020-01-25,INFO SERVICES LLC,17177 NORTH LAUREL PARK DR,...,0.0,Year,Y,N,Y,NaN,JERSEY CITY,HUDSON,NJ,07302
4,4,I-200-15053-636744,CERTIFIED-WITHDRAWN,2015-02-22,2016-10-02,H-1B,2015-03-01,2018-03-01,BB&T CORPORATION,223 WEST NASH STREET,...,0.0,Year,N,N,NaN,Y,NEW YORK,NEW YORK,NY,10036

In [43]:
df.isna().sum()

CASE_NUMBER                         0
CASE_STATUS                         0
CASE_SUBMITTED                      0
DECISION_DATE                       0
VISA_CLASS                          0
EMPLOYMENT_START_DATE              29
EMPLOYMENT_END_DATE                30
EMPLOYER_NAME                      56
EMPLOYER_ADDRESS                    7
EMPLOYER_CITY                      15
EMPLOYER_STATE                     18
EMPLOYER_POSTAL_CODE               18
EMPLOYER_COUNTRY                96507
EMPLOYER_PHONE                  96508
AGENT_REPRESENTING_EMPLOYER     96506
AGENT_ATTORNEY_NAME                 0
AGENT_ATTORNEY_CITY            273306
AGENT_ATTORNEY_STATE           288641
JOB_TITLE                           5
SOC_CODE                            2
SOC_NAME                            3
NAICS_CODE                          7
TOTAL_WORKERS                       0
NEW_EMPLOYMENT                      0
CONTINUED_EMPLOYMENT                0
CHANGE_PREVIOUS_EMPLOYMENT          0
NEW_CONCURRENT_EMPLOYMENT           0
CHANGE_EMPLOYER                     0
AMENDED_PETITION                    0
FULL_TIME_POSITION                  5
PREVAILING_WAGE                     1
PW_UNIT_OF_PAY                     46
PW_WAGE_LEVEL                  123720
PW_SOURCE                          46
PW_SOURCE_YEAR                     45
PW_SOURCE_OTHER                  6372
WAGE_RATE_OF_PAY_FROM               0
WAGE_RATE_OF_PAY_TO                 1
WAGE_UNIT_OF_PAY                    8
H1B_DEPENDENT                   13742
WILLFUL_VIOLATOR                13745
SUPPORT_H1B                    384174
WORKSITE_CITY                      13
WORKSITE_COUNTY                  1179
WORKSITE_STATE                      9
WORKSITE_POSTAL_CODE               19
dtype: int64

In [128]:
df.drop(['LABOR_CON_AGREE'], 1, inplace = True)

In [129]:
df = df.iloc[:, 1:]

In [44]:
df.isna().sum()

CASE_NUMBER                         0
CASE_STATUS                         0
CASE_SUBMITTED                      0
DECISION_DATE                       0
VISA_CLASS                          0
EMPLOYMENT_START_DATE              29
EMPLOYMENT_END_DATE                30
EMPLOYER_NAME                      56
EMPLOYER_ADDRESS                    7
EMPLOYER_CITY                      15
EMPLOYER_STATE                     18
EMPLOYER_POSTAL_CODE               18
EMPLOYER_COUNTRY                96507
EMPLOYER_PHONE                  96508
AGENT_REPRESENTING_EMPLOYER     96506
AGENT_ATTORNEY_NAME                 0
AGENT_ATTORNEY_CITY            273306
AGENT_ATTORNEY_STATE           288641
JOB_TITLE                           5
SOC_CODE                            2
SOC_NAME                            3
NAICS_CODE                          7
TOTAL_WORKERS                       0
NEW_EMPLOYMENT                      0
CONTINUED_EMPLOYMENT                0
CHANGE_PREVIOUS_EMPLOYMENT          0
NEW_CONCURRENT_EMPLOYMENT           0
CHANGE_EMPLOYER                     0
AMENDED_PETITION                    0
FULL_TIME_POSITION                  5
PREVAILING_WAGE                     1
PW_UNIT_OF_PAY                     46
PW_WAGE_LEVEL                  123720
PW_SOURCE                          46
PW_SOURCE_YEAR                     45
PW_SOURCE_OTHER                  6372
WAGE_RATE_OF_PAY_FROM               0
WAGE_RATE_OF_PAY_TO                 1
WAGE_UNIT_OF_PAY                    8
H1B_DEPENDENT                   13742
WILLFUL_VIOLATOR                13745
SUPPORT_H1B                    384174
WORKSITE_CITY                      13
WORKSITE_COUNTY                  1179
WORKSITE_STATE                      9
WORKSITE_POSTAL_CODE               19
dtype: int64

In [130]:
df.drop(['EMPLOYER_ADDRESS', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_COUNTRY', 'EMPLOYER_PHONE'], 1, inplace = True)

In [46]:
df.shape

(624650, 41)

In [50]:
df.isna().sum()

CASE_NUMBER                         0
CASE_STATUS                         0
CASE_SUBMITTED                      0
DECISION_DATE                       0
VISA_CLASS                          0
EMPLOYMENT_START_DATE              29
EMPLOYMENT_END_DATE                30
EMPLOYER_NAME                      56
EMPLOYER_CITY                      15
AGENT_REPRESENTING_EMPLOYER     96506
AGENT_ATTORNEY_NAME                 0
AGENT_ATTORNEY_CITY            273306
AGENT_ATTORNEY_STATE           288641
JOB_TITLE                           5
SOC_CODE                            2
SOC_NAME                            3
NAICS_CODE                          7
TOTAL_WORKERS                       0
NEW_EMPLOYMENT                      0
CONTINUED_EMPLOYMENT                0
CHANGE_PREVIOUS_EMPLOYMENT          0
NEW_CONCURRENT_EMPLOYMENT           0
CHANGE_EMPLOYER                     0
AMENDED_PETITION                    0
FULL_TIME_POSITION                  5
PREVAILING_WAGE                     1
PW_UNIT_OF_PAY                     46
PW_WAGE_LEVEL                  123720
PW_SOURCE                          46
PW_SOURCE_YEAR                     45
PW_SOURCE_OTHER                  6372
WAGE_RATE_OF_PAY_FROM               0
WAGE_RATE_OF_PAY_TO                 1
WAGE_UNIT_OF_PAY                    8
H1B_DEPENDENT                   13742
WILLFUL_VIOLATOR                13745
SUPPORT_H1B                         0
WORKSITE_CITY                      13
WORKSITE_COUNTY                  1179
WORKSITE_STATE                      9
WORKSITE_POSTAL_CODE               19
dtype: int64

In [131]:
df['SUPPORT_H1B'][df['SUPPORT_H1B'].isna()] = 'NA'

C:\Users\dell1\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [132]:
df.isna().sum() / len(df) * 100

CASE_NUMBER                     0.000000
CASE_STATUS                     0.000000
CASE_SUBMITTED                  0.000000
DECISION_DATE                   0.000000
VISA_CLASS                      0.000000
EMPLOYMENT_START_DATE           0.004643
EMPLOYMENT_END_DATE             0.004803
EMPLOYER_NAME                   0.008965
EMPLOYER_CITY                   0.002401
AGENT_REPRESENTING_EMPLOYER    15.449612
AGENT_ATTORNEY_NAME             0.000000
AGENT_ATTORNEY_CITY            43.753462
AGENT_ATTORNEY_STATE           46.208437
JOB_TITLE                       0.000800
SOC_CODE                        0.000320
SOC_NAME                        0.000480
NAICS_CODE                      0.001121
TOTAL_WORKERS                   0.000000
NEW_EMPLOYMENT                  0.000000
CONTINUED_EMPLOYMENT            0.000000
CHANGE_PREVIOUS_EMPLOYMENT      0.000000
NEW_CONCURRENT_EMPLOYMENT       0.000000
CHANGE_EMPLOYER                 0.000000
AMENDED_PETITION                0.000000
FULL_TIME_POSITION              0.000800
PREVAILING_WAGE                 0.000160
PW_UNIT_OF_PAY                  0.007364
PW_WAGE_LEVEL                  19.806292
PW_SOURCE                       0.007364
PW_SOURCE_YEAR                  0.007204
PW_SOURCE_OTHER                 1.020091
WAGE_RATE_OF_PAY_FROM           0.000000
WAGE_RATE_OF_PAY_TO             0.000160
WAGE_UNIT_OF_PAY                0.001281
H1B_DEPENDENT                   2.199952
WILLFUL_VIOLATOR                2.200432
SUPPORT_H1B                     0.000000
WORKSITE_CITY                   0.002081
WORKSITE_COUNTY                 0.188746
WORKSITE_STATE                  0.001441
WORKSITE_POSTAL_CODE            0.003042
dtype: float64

In [133]:
df.drop(['AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE'], 1, inplace = True)

In [64]:
df.shape

(624650, 39)

In [65]:
df.isna().sum()

CASE_NUMBER                         0
CASE_STATUS                         0
CASE_SUBMITTED                      0
DECISION_DATE                       0
VISA_CLASS                          0
EMPLOYMENT_START_DATE              29
EMPLOYMENT_END_DATE                30
EMPLOYER_NAME                      56
EMPLOYER_CITY                      15
AGENT_REPRESENTING_EMPLOYER     96506
AGENT_ATTORNEY_NAME                 0
JOB_TITLE                           5
SOC_CODE                            2
SOC_NAME                            3
NAICS_CODE                          7
TOTAL_WORKERS                       0
NEW_EMPLOYMENT                      0
CONTINUED_EMPLOYMENT                0
CHANGE_PREVIOUS_EMPLOYMENT          0
NEW_CONCURRENT_EMPLOYMENT           0
CHANGE_EMPLOYER                     0
AMENDED_PETITION                    0
FULL_TIME_POSITION                  5
PREVAILING_WAGE                     1
PW_UNIT_OF_PAY                     46
PW_WAGE_LEVEL                  123720
PW_SOURCE                          46
PW_SOURCE_YEAR                     45
PW_SOURCE_OTHER                  6372
WAGE_RATE_OF_PAY_FROM               0
WAGE_RATE_OF_PAY_TO                 1
WAGE_UNIT_OF_PAY                    8
H1B_DEPENDENT                   13742
WILLFUL_VIOLATOR                13745
SUPPORT_H1B                         0
WORKSITE_CITY                      13
WORKSITE_COUNTY                  1179
WORKSITE_STATE                      9
WORKSITE_POSTAL_CODE               19
dtype: int64

In [134]:
df['AGENT_REPRESENTING_EMPLOYER'].value_counts()

Y    351346
N    176798
Name: AGENT_REPRESENTING_EMPLOYER, dtype: int64

In [135]:
df_agent = df['AGENT_ATTORNEY_NAME'][df['AGENT_REPRESENTING_EMPLOYER'].isna()]

In [136]:
df = df[df['AGENT_REPRESENTING_EMPLOYER'].notna()]

In [75]:
df.shape

(528144, 39)

In [76]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               17
EMPLOYER_NAME                     43
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
AGENT_ATTORNEY_NAME                0
JOB_TITLE                          3
SOC_CODE                           0
SOC_NAME                           1
NAICS_CODE                         6
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CONTINUED_EMPLOYMENT               0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 4
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                    35
PW_WAGE_LEVEL                  27217
PW_SOURCE                         35
PW_SOURCE_YEAR                    33
PW_SOURCE_OTHER                 5117
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                1
WAGE_UNIT_OF_PAY                   6
H1B_DEPENDENT                  10301
WILLFUL_VIOLATOR               10302
SUPPORT_H1B                        0
WORKSITE_CITY                     10
WORKSITE_COUNTY                 1006
WORKSITE_STATE                     6
WORKSITE_POSTAL_CODE              15
dtype: int64

In [137]:
df.drop(['AGENT_ATTORNEY_NAME', 'EMPLOYER_NAME'], 1, inplace = True)

In [78]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               17
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
SOC_NAME                           1
NAICS_CODE                         6
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CONTINUED_EMPLOYMENT               0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 4
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                    35
PW_WAGE_LEVEL                  27217
PW_SOURCE                         35
PW_SOURCE_YEAR                    33
PW_SOURCE_OTHER                 5117
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                1
WAGE_UNIT_OF_PAY                   6
H1B_DEPENDENT                  10301
WILLFUL_VIOLATOR               10302
SUPPORT_H1B                        0
WORKSITE_CITY                     10
WORKSITE_COUNTY                 1006
WORKSITE_STATE                     6
WORKSITE_POSTAL_CODE              15
dtype: int64

In [138]:
df['SOC_CODE'].nunique()

703

In [139]:
df['SOC_NAME'].nunique()

821

In [140]:
df.drop(['SOC_NAME'], 1, inplace = True)

In [83]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               17
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
NAICS_CODE                         6
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CONTINUED_EMPLOYMENT               0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 4
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                    35
PW_WAGE_LEVEL                  27217
PW_SOURCE                         35
PW_SOURCE_YEAR                    33
PW_SOURCE_OTHER                 5117
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                1
WAGE_UNIT_OF_PAY                   6
H1B_DEPENDENT                  10301
WILLFUL_VIOLATOR               10302
SUPPORT_H1B                        0
WORKSITE_CITY                     10
WORKSITE_COUNTY                 1006
WORKSITE_STATE                     6
WORKSITE_POSTAL_CODE              15
dtype: int64

In [141]:
df['NAICS_CODE'].nunique()

2149

In [142]:
df['NAICS_CODE'].value_counts()

541511      195513
541512       28613
611310       20176
54151        18141
5416         16685
541519       12136
541330       11677
541211        6678
54161         6628
541611        6291
523110        6099
622110        6056
511210        5973
454111        5702
5415          5544
51121         4307
541710        3924
54121         3637
621111        3416
334413        3155
522110        3014
518112        2897
334111        2759
518210        2627
541990        2602
611110        2554
541690        2074
551112        2067
523920        2037
3344          2029
             ...
213112           1
335999           1
541715.0         1
541714.0         1
999990           1
332116           1
33441            1
541190           1
541100           1
541000           1
517919           1
81390            1
151099           1
621210           1
611000           1
21229            1
21232            1
611111           1
55111            1
6221             1
22121            1
482112           1
6113             1
23812            1
23813            1
23814            1
23815            1
811112           1
811122           1
524290           1
Name: NAICS_CODE, Length: 2149, dtype: int64

In [143]:
df['NAICS_CODE'].fillna(df['NAICS_CODE'].median(), inplace = True)

In [97]:
df['NAICS_CODE'].isna().sum()

0

In [98]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               17
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
NAICS_CODE                         0
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CONTINUED_EMPLOYMENT               0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 4
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                    35
PW_WAGE_LEVEL                  27217
PW_SOURCE                         35
PW_SOURCE_YEAR                    33
PW_SOURCE_OTHER                 5117
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                1
WAGE_UNIT_OF_PAY                   6
H1B_DEPENDENT                  10301
WILLFUL_VIOLATOR               10302
SUPPORT_H1B                        0
WORKSITE_CITY                     10
WORKSITE_COUNTY                 1006
WORKSITE_STATE                     6
WORKSITE_POSTAL_CODE              15
dtype: int64

In [144]:
df.drop(['CONTINUED_EMPLOYMENT'], 1, inplace = True)

In [102]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               17
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
NAICS_CODE                         0
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 4
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                    35
PW_WAGE_LEVEL                  27217
PW_SOURCE                         35
PW_SOURCE_YEAR                    33
PW_SOURCE_OTHER                 5117
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                1
WAGE_UNIT_OF_PAY                   6
H1B_DEPENDENT                  10301
WILLFUL_VIOLATOR               10302
SUPPORT_H1B                        0
WORKSITE_CITY                     10
WORKSITE_COUNTY                 1006
WORKSITE_STATE                     6
WORKSITE_POSTAL_CODE              15
dtype: int64

In [145]:
df['FULL_TIME_POSITION'].fillna(df['FULL_TIME_POSITION'].mode()[0], inplace = True)

In [106]:
df['PW_UNIT_OF_PAY'].value_counts()

Year         494568
Hour          33108
Month           263
Week            123
Bi-Weekly        47
Name: PW_UNIT_OF_PAY, dtype: int64

In [146]:
df['PW_UNIT_OF_PAY'].fillna(df['PW_UNIT_OF_PAY'].mode()[0], inplace = True)

In [108]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               17
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
NAICS_CODE                         0
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 0
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                     0
PW_WAGE_LEVEL                  27217
PW_SOURCE                         35
PW_SOURCE_YEAR                    33
PW_SOURCE_OTHER                 5117
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                1
WAGE_UNIT_OF_PAY                   6
H1B_DEPENDENT                  10301
WILLFUL_VIOLATOR               10302
SUPPORT_H1B                        0
WORKSITE_CITY                     10
WORKSITE_COUNTY                 1006
WORKSITE_STATE                     6
WORKSITE_POSTAL_CODE              15
dtype: int64

In [147]:
df['PW_WAGE_LEVEL'].fillna("NA", inplace = True)

In [110]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               17
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
NAICS_CODE                         0
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 0
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                     0
PW_WAGE_LEVEL                      0
PW_SOURCE                         35
PW_SOURCE_YEAR                    33
PW_SOURCE_OTHER                 5117
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                1
WAGE_UNIT_OF_PAY                   6
H1B_DEPENDENT                  10301
WILLFUL_VIOLATOR               10302
SUPPORT_H1B                        0
WORKSITE_CITY                     10
WORKSITE_COUNTY                 1006
WORKSITE_STATE                     6
WORKSITE_POSTAL_CODE              15
dtype: int64

In [148]:
df['PW_SOURCE'].value_counts()

OES      425183
Other     99563
CBA        3327
DBA          20
SCA          16
Name: PW_SOURCE, dtype: int64

In [149]:
df['PW_SOURCE'].fillna(df['PW_SOURCE'].mode()[0], inplace = True)

In [113]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               17
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
NAICS_CODE                         0
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 0
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                     0
PW_WAGE_LEVEL                      0
PW_SOURCE                          0
PW_SOURCE_YEAR                    33
PW_SOURCE_OTHER                 5117
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                1
WAGE_UNIT_OF_PAY                   6
H1B_DEPENDENT                  10301
WILLFUL_VIOLATOR               10302
SUPPORT_H1B                        0
WORKSITE_CITY                     10
WORKSITE_COUNTY                 1006
WORKSITE_STATE                     6
WORKSITE_POSTAL_CODE              15
dtype: int64

In [150]:
df = df[df['PW_SOURCE_YEAR'].notna()]

In [115]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               16
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
NAICS_CODE                         0
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 0
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                     0
PW_WAGE_LEVEL                      0
PW_SOURCE                          0
PW_SOURCE_YEAR                     0
PW_SOURCE_OTHER                 5088
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                1
WAGE_UNIT_OF_PAY                   5
H1B_DEPENDENT                  10291
WILLFUL_VIOLATOR               10292
SUPPORT_H1B                        0
WORKSITE_CITY                      8
WORKSITE_COUNTY                 1004
WORKSITE_STATE                     4
WORKSITE_POSTAL_CODE              13
dtype: int64

In [151]:
df['PW_SOURCE_OTHER'].value_counts()

OFLC ONLINE DATA CENTER                                                                  490756
RADFORD GLOBAL TECHNOLOGY SURVEY                                                           9633
ONLINE WAGE LIBRARY                                                                        1544
WWW.FLCDATACENTER.COM                                                                      1129
RADFORD GLOBAL TECHNOLOGY SURVEY CUSTOM REPORT                                              992
OFLC (ONLINE DATA CENTER)                                                                   972
OFLC ONLINE DATACENTER                                                                      939
AAMC SURVEY OF RESIDENT/FELLOW STIPENDS AND BENEFITS                                        558
DIETRICH FALL 2016 ENGINEERING SALARY SURVEY                                                484
WILLIS TOWERS WATSON: PROFESSIONAL (TECHNICAL AND OPERATIONS) COMPENSATION SUR              455
COLLECTIVE BARGAINING AGREEMENT                                                             447
US MBD MERCER BENCHMARK DATABASE IT SURVEY                                                  328
FLC DATA CENTER ONLINE WAGE LIBRARY                                                         312
AAMC SURVEY OF RESIDENT/FELLOW STIPENDS AND BENEFITS REPORT                                 247
FLC ONLINE DATA CENTER                                                                      243
TOWERS WATSON:  2016 PROFESSIONAL (ADMINISTRATIVE AND SALES) COMPENSATION SURV              204
TOWERS WATSON PROFESSIONAL (TECHNICAL AND OPERATIONS) COMPENSATION SURVEY                   192
HTTP://WWW.FLCDATACENTER.COM                                                                188
RADFORD GLOBAL TECHNOLOGY SURVEY-CUSTOM REPORT                                              177
FLC DATA CENTER                                                                             176
OFLC DATA CENTER                                                                            164
OFLC ONLINE WAGE LIBRARY                                                                    163
RADFORD GLOBAL TECHNOLOGY SURVERY                                                           157
DIETRICH 2016 FALL ENGINEERING SALARY SURVEY                                                149
OFLC ONLINE DATA CENTRE                                                                     144
OFLC ONLINE DATA CENTER ACWIA                                                               141
AAMC SURVEY OF RESIDENT FELLOW STIPENDS & BENEFITS                                          137
FLC ONLINE WAGE LIBRARY                                                                     136
AAMC SURVEY OF RESIDENT/FELLOW STIPENDS & BENEFITS                                          115
AAMC SURVEY OF RESIDENT/FELLOW STIPENDS                                                     112
                                                                                          ...
U.S. DOL BUREAU OF LABOR STATISTICS (BLS) OCCUPATIONAL EMPLOYMENT STATISTICS                  1
TOWERS WATSON DATA SERVICE CDB GENERAL INDUSTRY MIDDLE MGMT ENGINEERING ENTRY                 1
BOE, DISTRICT 54, ILLINOIS                                                                    1
WILLIS TOWERS WATSON:PROFESSIONAL(TECHNICAL&OPERATIONS)COMPENSATION SURVEY                    1
MEDICALGROUPMANAGMENTASSOCIATION:PHYSICIANPLACEMENTSTARTINGSALARYSURVEY2016                   1
FOREIGN LABOR CERTIFICATION DATA CENTER ONLINE WAGE LIBRARY FLCDATACENTER.COM                 1
MASSACHUSETTS ORGANIZATION OF ENGINEERS AND SCIENTISTS, UNIT 9 (MOSES)                        1
TOWERS WATSON DATA SERVICES ENGINEERING, DESIGN & TECHNICAL SPECIALTY COMPENSA                1
US MBD - MERCER/ GARTNER INFORMATION TECHNOLOGY                                               1
WILLIS TOWERS WATSON CSR PROFESSIONAL ADMIN & SALES COMP SURVEY                               1
2016 MBD MERCER BENCHMARK DATABASE                                                            1
APWD, INC: TOWERS WATSON: PROFESSIONAL (TECHNICAL AND OPERATIONS) COMPENSATION SURVEY         1
TOWERS WATSON DATA SERVICES CSR PROFESSIONAL (TECHNICAL & OPERATIONS) REPORT                  1
WILLIS TOWERS WATSON:  PROF. (TECH. & OPERATIONS) COMPENSATION SURVEY                         1
WILLIS TOWERS WATSON: PROF. (ADMINISTRATIVE AND SALES) COMPENSATION SURVEY                    1
WILLIS TOWERS WATSON DATA SERVICES 2016 CSR GENERAL INDUSTRY PROFESSIONAL (ADM                1
ASSOCIATION OF ADMINISTRATORS IN AMERICAN PEDIATRICS SALARY SURVEY                            1
WLLIS TOWER WATSON 2016 ACCOUNTING AND FINANCE COMPENSATION SURVEY                            1
TOWERS WATSON PROFESSIONAL ( TECHNICAL AND OPERATIONS) COMPENSATION SURVEY                    1
WILLIS TOWERS WATSON: CSR GENERAL INDUS PROF. (TECH & OP.) COMP SURVEY REP. US                1
OFLCONLINE DATA CENTER                                                                        1
ADVERTISING FOR POSITION ON CAREER SITE, RECRUITING EVENTS, WEBSITE.                          1
MERCER BENCHMARK DATABASE: LOGISTICS AND SUPPLY CHAIN COMPENSATION SURVEY                     1
2016 WILLIS TOWERS WATSON ACCOUNTING AND FINANCE COMPENSATION SURVEY                          1
HUMAN RESOURCE ASSOCIATION OF THE NATIONAL CAPITAL AREA COMPENSATION SURVEY REPORT            1
WILLIS TOWERS WATSON PROFESSIONAL ADMINISTRATIVE AND SALES COMPENSATION SURVEY                1
THE SURVEY GROUP: BENCHMARK  COMPENSATION SURVEY                                              1
RADFORD GLOBAL TECHCNOLOGY SURVEY                                                             1
OFLC &QUOT; ONLINE DATA CENTER&QUOT;                                                          1
PAYSCALE                                                                                      1
Name: PW_SOURCE_OTHER, Length: 2560, dtype: int64

In [152]:
df['PW_SOURCE_OTHER'].fillna(df['PW_SOURCE_OTHER'].mode()[0], inplace = True)

In [118]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               16
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
NAICS_CODE                         0
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 0
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                     0
PW_WAGE_LEVEL                      0
PW_SOURCE                          0
PW_SOURCE_YEAR                     0
PW_SOURCE_OTHER                    0
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                1
WAGE_UNIT_OF_PAY                   5
H1B_DEPENDENT                  10291
WILLFUL_VIOLATOR               10292
SUPPORT_H1B                        0
WORKSITE_CITY                      8
WORKSITE_COUNTY                 1004
WORKSITE_STATE                     4
WORKSITE_POSTAL_CODE              13
dtype: int64

In [153]:
df = df[(df['WAGE_RATE_OF_PAY_TO'].notna()) & (df['WAGE_RATE_OF_PAY_FROM'].notna())]

In [120]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               16
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
NAICS_CODE                         0
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 0
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                     0
PW_WAGE_LEVEL                      0
PW_SOURCE                          0
PW_SOURCE_YEAR                     0
PW_SOURCE_OTHER                    0
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                0
WAGE_UNIT_OF_PAY                   5
H1B_DEPENDENT                  10291
WILLFUL_VIOLATOR               10292
SUPPORT_H1B                        0
WORKSITE_CITY                      8
WORKSITE_COUNTY                 1004
WORKSITE_STATE                     3
WORKSITE_POSTAL_CODE              13
dtype: int64

In [154]:
df = df[df['WAGE_UNIT_OF_PAY'].notna()]

In [122]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               16
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
NAICS_CODE                         0
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 0
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                     0
PW_WAGE_LEVEL                      0
PW_SOURCE                          0
PW_SOURCE_YEAR                     0
PW_SOURCE_OTHER                    0
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                0
WAGE_UNIT_OF_PAY                   0
H1B_DEPENDENT                  10291
WILLFUL_VIOLATOR               10292
SUPPORT_H1B                        0
WORKSITE_CITY                      8
WORKSITE_COUNTY                 1004
WORKSITE_STATE                     3
WORKSITE_POSTAL_CODE              13
dtype: int64

In [155]:
df.drop(['WORKSITE_COUNTY', 'WORKSITE_CITY', 'WORKSITE_POSTAL_CODE'], 1, inplace = True)

In [157]:
df.isna().sum()

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             17
EMPLOYMENT_END_DATE               16
EMPLOYER_CITY                     14
AGENT_REPRESENTING_EMPLOYER        0
JOB_TITLE                          3
SOC_CODE                           0
NAICS_CODE                         0
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 0
PREVAILING_WAGE                    0
PW_UNIT_OF_PAY                     0
PW_WAGE_LEVEL                      0
PW_SOURCE                          0
PW_SOURCE_YEAR                     0
PW_SOURCE_OTHER                    0
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                0
WAGE_UNIT_OF_PAY                   0
H1B_DEPENDENT                  10291
WILLFUL_VIOLATOR               10292
SUPPORT_H1B                        0
WORKSITE_STATE                     3
dtype: int64

In [156]:
df['H1B_DEPENDENT'].value_counts()

N    322845
Y    194969
Name: H1B_DEPENDENT, dtype: int64

In [158]:
df = df[(df['H1B_DEPENDENT'].notna()) & (df['WILLFUL_VIOLATOR'].notna())]

In [159]:
df.isna().sum()

CASE_NUMBER                     0
CASE_STATUS                     0
CASE_SUBMITTED                  0
DECISION_DATE                   0
VISA_CLASS                      0
EMPLOYMENT_START_DATE          15
EMPLOYMENT_END_DATE            15
EMPLOYER_CITY                  14
AGENT_REPRESENTING_EMPLOYER     0
JOB_TITLE                       3
SOC_CODE                        0
NAICS_CODE                      0
TOTAL_WORKERS                   0
NEW_EMPLOYMENT                  0
CHANGE_PREVIOUS_EMPLOYMENT      0
NEW_CONCURRENT_EMPLOYMENT       0
CHANGE_EMPLOYER                 0
AMENDED_PETITION                0
FULL_TIME_POSITION              0
PREVAILING_WAGE                 0
PW_UNIT_OF_PAY                  0
PW_WAGE_LEVEL                   0
PW_SOURCE                       0
PW_SOURCE_YEAR                  0
PW_SOURCE_OTHER                 0
WAGE_RATE_OF_PAY_FROM           0
WAGE_RATE_OF_PAY_TO             0
WAGE_UNIT_OF_PAY                0
H1B_DEPENDENT                   0
WILLFUL_VIOLATOR                0
SUPPORT_H1B                     0
WORKSITE_STATE                  3
dtype: int64

In [160]:
df.shape

(517813, 32)

In [161]:
df['WORKSITE_STATE'].value_counts()

CA    98504
TX    55905
NY    43692
NJ    36628
IL    26743
MA    20935
WA    19628
GA    19056
FL    18259
PA    18019
MI    17163
VA    15002
NC    14081
OH    12705
MD     8853
MN     8740
AZ     7957
CT     6813
MO     6800
TN     5676
WI     5430
CO     5275
IN     5069
OR     3817
DC     3298
DE     2827
IA     2528
UT     2525
SC     2461
AR     2392
KS     2295
KY     2198
RI     1987
NE     1739
LA     1642
AL     1474
OK     1454
NH     1184
NV     1168
ID      739
NM      681
MS      621
PR      536
ME      536
WV      430
HI      417
ND      377
VT      331
MP      260
SD      255
GU      223
AK      172
MT      154
WY      111
VI       43
PW        1
FM        1
Name: WORKSITE_STATE, dtype: int64

In [162]:
df['WORKSITE_STATE'].fillna(df['WORKSITE_STATE'].mode()[0], inplace = True)

In [166]:
df.isna().sum()

CASE_NUMBER                     0
CASE_STATUS                     0
CASE_SUBMITTED                  0
DECISION_DATE                   0
VISA_CLASS                      0
EMPLOYMENT_START_DATE          15
EMPLOYMENT_END_DATE            15
EMPLOYER_CITY                  14
AGENT_REPRESENTING_EMPLOYER     0
JOB_TITLE                       0
SOC_CODE                        0
NAICS_CODE                      0
TOTAL_WORKERS                   0
NEW_EMPLOYMENT                  0
CHANGE_PREVIOUS_EMPLOYMENT      0
NEW_CONCURRENT_EMPLOYMENT       0
CHANGE_EMPLOYER                 0
AMENDED_PETITION                0
FULL_TIME_POSITION              0
PREVAILING_WAGE                 0
PW_UNIT_OF_PAY                  0
PW_WAGE_LEVEL                   0
PW_SOURCE                       0
PW_SOURCE_YEAR                  0
PW_SOURCE_OTHER                 0
WAGE_RATE_OF_PAY_FROM           0
WAGE_RATE_OF_PAY_TO             0
WAGE_UNIT_OF_PAY                0
H1B_DEPENDENT                   0
WILLFUL_VIOLATOR                0
SUPPORT_H1B                     0
WORKSITE_STATE                  0
dtype: int64

In [165]:
df = df[df['JOB_TITLE'].notna()]

In [167]:
df['EMPLOYER_CITY'].value_counts()

PLANO                 29167
NEW YORK              24153
CHICAGO               21077
ROCKVILLE             11608
EDISON                10537
DURHAM                10011
PHILADELPHIA           9513
TROY                   9301
IRVING                 8813
SAN FRANCISCO          8656
HOUSTON                8319
SAN JOSE               7681
SANTA CLARA            7469
MOUNTAIN VIEW          7350
SUNNYVALE              7325
DALLAS                 7237
SEATTLE                6042
BOSTON                 5466
SECAUCUS               5380
PISCATAWAY             5297
TAMPA                  4987
EAST BRUNSWICK         4971
REDMOND                4920
ATLANTA                4377
ISELIN                 3909
PALO ALTO              3886
PRINCETON              3824
FREMONT                3800
ALPHARETTA             3698
JERSEY CITY            3375
                      ...
MAYVILLE                  1
MONACA                    1
EAST GRAND RAPIDS         1
WAIPAHU                   1
KINGS MOUNTAIN            1
YOUNG HARRIS              1
FT YATES                  1
WA                        1
MCEWEN                    1
GREENPORT                 1
SALT LAKE CTY             1
DINUBA                    1
CENTURY CITY              1
BROOKPARK                 1
TYLERTOWN                 1
RAINBOW CITY              1
ACCOMAC                   1
BKOOKLYN                  1
VALENTINE                 1
COTULLA                   1
MONEE                     1
2800 W 15TH STREET        1
TARRY TOWN                1
BELLMORE                  1
WOODSVILLE                1
MATTESON                  1
HIRAM                     1
QUANTICO                  1
HOLLIDAYSBURG             1
DYERSBURG                 1
Name: EMPLOYER_CITY, Length: 4801, dtype: int64

In [168]:
df.dropna(inplace = True)

In [169]:
df.to_pickle('cleaned_data(6feb)')

In [170]:
df.isna().sum()

CASE_NUMBER                    0
CASE_STATUS                    0
CASE_SUBMITTED                 0
DECISION_DATE                  0
VISA_CLASS                     0
EMPLOYMENT_START_DATE          0
EMPLOYMENT_END_DATE            0
EMPLOYER_CITY                  0
AGENT_REPRESENTING_EMPLOYER    0
JOB_TITLE                      0
SOC_CODE                       0
NAICS_CODE                     0
TOTAL_WORKERS                  0
NEW_EMPLOYMENT                 0
CHANGE_PREVIOUS_EMPLOYMENT     0
NEW_CONCURRENT_EMPLOYMENT      0
CHANGE_EMPLOYER                0
AMENDED_PETITION               0
FULL_TIME_POSITION             0
PREVAILING_WAGE                0
PW_UNIT_OF_PAY                 0
PW_WAGE_LEVEL                  0
PW_SOURCE                      0
PW_SOURCE_YEAR                 0
PW_SOURCE_OTHER                0
WAGE_RATE_OF_PAY_FROM          0
WAGE_RATE_OF_PAY_TO            0
WAGE_UNIT_OF_PAY               0
H1B_DEPENDENT                  0
WILLFUL_VIOLATOR               0
SUPPORT_H1B                    0
WORKSITE_STATE                 0
dtype: int64

In [171]:
df.shape

(517779, 32)

In [173]:
import datetime
df['EMPLOYEMENT_AGE'] = abs((pd.to_datetime(df['EMPLOYMENT_START_DATE'])-pd.to_datetime(df['EMPLOYMENT_END_DATE'])).dt.days)

In [175]:
df.drop(['EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE'],1 , inplace = True)

In [176]:
df.shape

(517779, 31)

In [184]:
df_1 = df.iloc[:10000, :][df['CASE_STATUS'] == 'CERTIFIED']
df_2 = df.iloc[:10000, :][df['CASE_STATUS'] == 'CERTIFIED-WITHDRAWN']
df_3 = df.iloc[:8480, :][df['CASE_STATUS'] == 'DENIED']
df_4 = df.iloc[:10000, :][df['CASE_STATUS'] == 'WITHDRAWN']

C:\Users\dell1\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
C:\Users\dell1\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\dell1\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\dell1\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [185]:
df_1.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYER_CITY,AGENT_REPRESENTING_EMPLOYER,JOB_TITLE,SOC_CODE,NAICS_CODE,...,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,WORKSITE_STATE,EMPLOYEMENT_AGE
194,I-200-09209-039181,CERTIFIED,2016-09-27,2016-10-03,H-1B,NEWARK,Y,HADOOP ADMINISTRATOR,15-1132,541511,...,2016.0,OFLC ONLINE DATA CENTER,102149.0,124675.0,Year,Y,N,Y,CA,1084
195,I-200-16266-171133,CERTIFIED,2016-09-27,2016-10-03,H-1B,ROCKVILLE,Y,DEVELOPER USER INTERFACE,15-1134,541511,...,2016.0,OFLC ONLINE DATA CENTER,62500.0,94500.0,Year,Y,N,Y,OH,1089
196,I-200-16266-208642,CERTIFIED,2016-09-27,2016-10-03,H-1B,IRVING,Y,SOLUTION ARCHITECT,15-1132,52429,...,2016.0,OFLC ONLINE DATA CENTER,90664.0,0.0,Year,N,N,NA,TX,1095
197,I-200-16263-193057,CERTIFIED,2016-09-27,2016-10-03,H-1B,NEW YORK,Y,VICE PRESIDENT,15-1132,523920,...,2016.0,OFLC ONLINE DATA CENTER,117770.0,125000.0,Year,N,N,NA,CA,1093
198,I-200-16263-433294,CERTIFIED,2016-09-27,2016-10-03,H-1B,BERKELEY,N,ASSOCIATE SPECIALIST STEP II,19-1013,611310,...,2016.0,OFLC ONLINE DATA CENTER,66414.0,0.0,Year,N,N,NA,CA,297

In [186]:
df_new = pd.concat([df_1, df_2, df_3, df_4])

In [187]:
df_new.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYER_CITY,AGENT_REPRESENTING_EMPLOYER,JOB_TITLE,SOC_CODE,NAICS_CODE,...,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,WORKSITE_STATE,EMPLOYEMENT_AGE
194,I-200-09209-039181,CERTIFIED,2016-09-27,2016-10-03,H-1B,NEWARK,Y,HADOOP ADMINISTRATOR,15-1132,541511,...,2016.0,OFLC ONLINE DATA CENTER,102149.0,124675.0,Year,Y,N,Y,CA,1084
195,I-200-16266-171133,CERTIFIED,2016-09-27,2016-10-03,H-1B,ROCKVILLE,Y,DEVELOPER USER INTERFACE,15-1134,541511,...,2016.0,OFLC ONLINE DATA CENTER,62500.0,94500.0,Year,Y,N,Y,OH,1089
196,I-200-16266-208642,CERTIFIED,2016-09-27,2016-10-03,H-1B,IRVING,Y,SOLUTION ARCHITECT,15-1132,52429,...,2016.0,OFLC ONLINE DATA CENTER,90664.0,0.0,Year,N,N,NA,TX,1095
197,I-200-16263-193057,CERTIFIED,2016-09-27,2016-10-03,H-1B,NEW YORK,Y,VICE PRESIDENT,15-1132,523920,...,2016.0,OFLC ONLINE DATA CENTER,117770.0,125000.0,Year,N,N,NA,CA,1093
198,I-200-16263-433294,CERTIFIED,2016-09-27,2016-10-03,H-1B,BERKELEY,N,ASSOCIATE SPECIALIST STEP II,19-1013,611310,...,2016.0,OFLC ONLINE DATA CENTER,66414.0,0.0,Year,N,N,NA,CA,297

In [239]:
df_new['DECISION_TIME'] = abs((pd.to_datetime(df_new['CASE_SUBMITTED'])-pd.to_datetime(df_new['DECISION_DATE'])).dt.days)

In [240]:
df_new.drop(['CASE_SUBMITTED', 'DECISION_DATE'], 1, inplace = True)

In [241]:
X = df_new.drop(["CASE_STATUS"], 1)
y = df_new['CASE_STATUS']

In [196]:
X.isna().sum()

CASE_NUMBER                    0
VISA_CLASS                     0
EMPLOYER_CITY                  0
AGENT_REPRESENTING_EMPLOYER    0
JOB_TITLE                      0
SOC_CODE                       0
NAICS_CODE                     0
TOTAL_WORKERS                  0
NEW_EMPLOYMENT                 0
CHANGE_PREVIOUS_EMPLOYMENT     0
NEW_CONCURRENT_EMPLOYMENT      0
CHANGE_EMPLOYER                0
AMENDED_PETITION               0
FULL_TIME_POSITION             0
PREVAILING_WAGE                0
PW_UNIT_OF_PAY                 0
PW_WAGE_LEVEL                  0
PW_SOURCE                      0
PW_SOURCE_YEAR                 0
PW_SOURCE_OTHER                0
WAGE_RATE_OF_PAY_FROM          0
WAGE_RATE_OF_PAY_TO            0
WAGE_UNIT_OF_PAY               0
H1B_DEPENDENT                  0
WILLFUL_VIOLATOR               0
SUPPORT_H1B                    0
WORKSITE_STATE                 0
EMPLOYEMENT_AGE                0
DECISION_TIME                  0
dtype: int64

In [242]:
X.drop(['CASE_NUMBER'],1, inplace = True)

In [198]:
X.dtypes

VISA_CLASS                      object
EMPLOYER_CITY                   object
AGENT_REPRESENTING_EMPLOYER     object
JOB_TITLE                       object
SOC_CODE                        object
NAICS_CODE                      object
TOTAL_WORKERS                    int64
NEW_EMPLOYMENT                   int64
CHANGE_PREVIOUS_EMPLOYMENT       int64
NEW_CONCURRENT_EMPLOYMENT        int64
CHANGE_EMPLOYER                  int64
AMENDED_PETITION                 int64
FULL_TIME_POSITION              object
PREVAILING_WAGE                float64
PW_UNIT_OF_PAY                  object
PW_WAGE_LEVEL                   object
PW_SOURCE                       object
PW_SOURCE_YEAR                 float64
PW_SOURCE_OTHER                 object
WAGE_RATE_OF_PAY_FROM          float64
WAGE_RATE_OF_PAY_TO            float64
WAGE_UNIT_OF_PAY                object
H1B_DEPENDENT                   object
WILLFUL_VIOLATOR                object
SUPPORT_H1B                     object
WORKSITE_STATE                  object
EMPLOYEMENT_AGE                  int64
DECISION_TIME                    int64
dtype: object

In [243]:
X['VISA_CLASS'].value_counts()

H-1B               9961
E-3 Australian       18
H-1B1 Chile           3
H-1B1 Singapore       2
Name: VISA_CLASS, dtype: int64

In [199]:
from sklearn.preprocessing import LabelEncoder

In [208]:
le = LabelEncoder()

In [202]:
from sklearn.tree import DecisionTreeClassifier

In [203]:
dtc = DecisionTreeClassifier()

In [204]:
from sklearn.model_selection import train_test_split

In [205]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [206]:
dtc.fit(X_train, y_train)

ValueError: could not convert string to float: 'MN'

In [244]:
obj_col = X.columns[X.dtypes == 'object']

In [213]:
obj_col

Index(['VISA_CLASS', 'EMPLOYER_CITY', 'AGENT_REPRESENTING_EMPLOYER',
       'JOB_TITLE', 'SOC_CODE', 'NAICS_CODE', 'FULL_TIME_POSITION',
       'PW_UNIT_OF_PAY', 'PW_WAGE_LEVEL', 'PW_SOURCE', 'PW_SOURCE_OTHER',
       'WAGE_UNIT_OF_PAY', 'H1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'SUPPORT_H1B',
       'WORKSITE_STATE'],
      dtype='object')

In [245]:
for i in obj_col:
    try:
        X[i] = le.fit_transform(X[i])
        print(i)
    except:
        print('not cat')

VISA_CLASS
EMPLOYER_CITY
AGENT_REPRESENTING_EMPLOYER
JOB_TITLE
SOC_CODE
NAICS_CODE
FULL_TIME_POSITION
PW_UNIT_OF_PAY
PW_WAGE_LEVEL
PW_SOURCE
PW_SOURCE_OTHER
WAGE_UNIT_OF_PAY
H1B_DEPENDENT
WILLFUL_VIOLATOR
SUPPORT_H1B
WORKSITE_STATE

In [220]:
X.head()

,VISA_CLASS,EMPLOYER_CITY,AGENT_REPRESENTING_EMPLOYER,JOB_TITLE,SOC_CODE,NAICS_CODE,TOTAL_WORKERS,NEW_EMPLOYMENT,CHANGE_PREVIOUS_EMPLOYMENT,NEW_CONCURRENT_EMPLOYMENT,...,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,WORKSITE_STATE,EMPLOYEMENT_AGE,DECISION_TIME
0,1,3575,1,5788,128,522210,1,1,0,0,...,1162,65811.0,67320.0,4,0,0,1,16,1095,220
1,1,3575,1,52831,167,522210,1,1,0,0,...,1689,53000.0,57200.0,4,0,0,1,16,1095,211
2,1,4488,1,63,133,541511,2,2,0,0,...,1162,77000.0,0.0,4,1,0,2,7,1095,205
3,1,2356,0,45858,150,541511,1,1,0,0,...,1162,102000.0,0.0,4,1,0,2,34,1094,3
4,1,4685,1,5498,89,522110,1,0,0,0,...,1162,132500.0,0.0,4,0,0,1,37,1096,588

In [246]:
y = le.fit_transform(y)

In [247]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [248]:
dtc.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [249]:
dtc.score(X_test, y_test)

0.96194926568758343

In [250]:
y_pred = dtc.predict(X_test)

In [227]:
from sklearn.metrics import classification_report

In [251]:
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.99      0.98      0.99      2448
          1       0.93      0.95      0.94       420
          2       0.26      0.36      0.31        25
          3       0.64      0.61      0.63       103

avg / total       0.96      0.96      0.96      2996

In [229]:
from sklearn.cross_validation import cross_val_score

In [234]:
cross_val_score(dtc, X, y, cv = 5)

array([ 0.95033701,  0.95415041,  0.96093901,  0.95855343,  0.96400912])

In [252]:
pd.Series(y_train).value_counts()

0    5658
1    1005
3     241
2      84
dtype: int64