In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("scraped_revision.csv",)

In [3]:
df.shape

(191, 57)

In [4]:
df.head()

,Reg.No Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name,Reg.Date Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender,First Party Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address,Second Party Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name,Property Address Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender,Area Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address,Deed Type,Property Type,Column-8,Column-9,...,Column-47,Column-48,Column-49,Column-50,Reg.No Name Name Name Name Name Name Name Name Name Name Name,Reg.Date Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender,First Party Address Address Address Address Address Address Address Address Address Address Address,Second Party Name Name Name Name Name Name Name Name Name Name Name,Property Address Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender,Area Address Address Address Address Address Address Address Address Address Address Address
0,7.0,01-01-2019,S C KHURANA,S C KHURANA,NaN,S C KHURANA,Male,B-3/93 SAFDARJUNG ENCLAVE ND,AJAY VISHAL,AJAY VISHAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11.0,02-01-2019,RAJESH KUMAR BHASIN,RAJESH KUMAR BHASIN,NaN,RAJESH KUMAR BHASIN,Male,A-1/161 GF SAFDARJUNG ENCLAVE ND,MIN HO KIM,MIN HO KIM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20.0,02-01-2019,SANDEEP ARVIND,SANDEEP ARVIND,NaN,SANDEEP ARVIND,Male,A-1/257 G/F SAFDARJUNG ENCLAVE ND,RADHALAKSHMI R,RADHALAKSHMI R,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,36.0,03-01-2019,LIKHA SAAYA THRU ATT MANOJ KUMAR GULATI,LIKHA SAAYA THRU ATT MANOJ KUMAR GULATI,NaN,LIKHA SAAYA THRU ATT MANOJ KUMAR GULATI,Male,71 ANAND LOK ND,KANUKPRIYA GULATI,KANUKPRIYA GULATI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,39.0,03-01-2019,VISHAL JAIRATH,VISHAL JAIRATH,NaN,VISHAL JAIRATH,Male,C-85 TF DEFENCE COLONY ND,ITHIKIA HEALTH SCIENCES LLP THRU CHAND RATAN D...,ITHIKIA HEALTH SCIENCES LLP THRU CHAND RATAN D...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df["Column-17"]

0                                            Residential
1                                            Residential
2                                            Residential
3                                            Residential
4                                             Commercial
5                                            Residential
6                                            Residential
7                    House No. B-5/44,Safdarjung Enclave
8                                            Residential
9                                            Residential
10                                           Residential
11                                           Residential
12                                          AKRITI KHARE
13             House No. B-7 EXTN /33,Safdarjung Enclave
14                                         SHAMMI GULATI
15                                         PRATIMA NAGAR
16                                            Commercial
17                                           Residential
18                                           Residential
19                                           Residential
20                                    RAVI PRKASH NEHRAW
21                                           Residential
22     House No. 110-A/4 SF KRISHNA NAGAR,Safdarjung ...
23                                           Residential
24           House No. B-7 EXTN/39 TF,Safdarjung Enclave
25                  House No. A-1/252,Safdarjung Enclave
26                                           Residential
27                                    RUPAL RAJESH DALAL
28                                            Commercial
29                              SHRI PARVEEN KUMAR KALRA
                             ...
161                    VA BUILDTRON LLP THRU AJAY KHANNA
162                                           Commercial
163                                          Residential
164               House No. FF B-3/20,Safdarjung Enclave
165                                        SUSHILA ARORA
166        House No. 104-D BLK-B-2 SF,Safdarjung Enclave
167                                        POOJA VIRMANI
168                                          AMRITA JAIN
169                                          Residential
170                                          Residential
171                                          Residential
172                                          Residential
173                                          Residential
174                                          Residential
175                                          Residential
176                  House No. B-4/43,Safdarjung Enclave
177                   House No. AB-20,Safdarjung Enclave
178                                           Commercial
179               House No. A1/303 GF,Safdarjung Enclave
180                                           Commercial
181                                          Residential
182                                          Residential
183               House No. B-6/86 SF,Safdarjung Enclave
184    MASTER AGAMJOT SINGH GAUDH MINOR THHRU HIS NAT...
185                                          Residential
186    House No. B-3/38 ENTIRE TF WITH TERRACE,Safdar...
187         House No. B-7 EXTN/101 FF,Safdarjung Enclave
188                                          Residential
189               House No. B-6/18 GF,Safdarjung Enclave
190               House No. B-6/18 SF,Safdarjung Enclave
Name: Column-17, Length: 191, dtype: object

In [10]:
df["Column-18"]

0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
5                     NaN
6                     NaN
7         74.665 Sq. Yard
8                     NaN
9                     NaN
10                    NaN
11                    NaN
12                 Female
13        69.54 Sq. Meter
14                 Female
15                 Female
16                    NaN
17                    NaN
18                    NaN
19                    NaN
20     RAVI PRKASH NEHRAW
21                    NaN
22           125 Sq. Yard
23                    NaN
24        61.06 Sq. Meter
25        178.2 Sq. Meter
26                    NaN
27                 Female
28                    NaN
29                   Male
              ...
161                  Male
162                   NaN
163                   NaN
164          700 Sq. Feet
165         SUSHILA ARORA
166          200 Sq. Yard
167                  Male
168                Female
169                   NaN
170                   NaN
171                   NaN
172                   NaN
173                   NaN
174                   NaN
175                   NaN
176         214 Sq. Meter
177          144 Sq. Yard
178                   NaN
179         2340 Sq. Feet
180                   NaN
181                   NaN
182                   NaN
183          90 Sq. Meter
184                  Male
185                   NaN
186          200 Sq. Yard
187      111.48 Sq. Meter
188                   NaN
189          450 Sq. Yard
190          450 Sq. Yard
Name: Column-18, Length: 191, dtype: object

In [24]:
df["Reg.No Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name"].shape

(191,)

In [25]:
df["Reg.No Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name"].isna().sum()

11

In [15]:
df["Reg.No Name Name Name Name Name Name Name Name Name Name Name"].shape

(191,)

In [16]:
df["Reg.No Name Name Name Name Name Name Name Name Name Name Name"].isna().sum()

180

In [23]:
df["Reg.No Name Name Name Name Name Name Name Name Name Name Name"][180]

2648.0

In [26]:
df_1 = pd.read_csv("scraped_revision_1.csv")

In [32]:
df_1["Reg.No Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name"].isna().sum()

0

In [34]:
type(df_1)

pandas.core.frame.DataFrame

In [47]:
df_final = df_1[["Reg.No Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name"]]

In [49]:
df_final["RegNo"] = df_1["Reg.No Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name"]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [51]:
df_final = df_final.drop(columns="Reg.No Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name")

In [57]:
df_final["Reg.Date"]=df_1["Reg.Date Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender"]

In [60]:
df_final["FirstParty"]=df_1["First Party Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address Address"]

In [62]:
df_final["SecondParty"]=df_1["Second Party Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name"]

In [67]:
df_1["Property Address Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender Gender"].isna().sum()

191

In [76]:
df_1[df_1["Column-14"].str.contains("House No.")].shape

(110, 57)

In [77]:
df_final["RegNo"]

0         7
1        11
2        20
3        36
4        39
5        41
6        57
7        58
8        61
9        72
10       81
11       83
12       99
13      153
14      155
15      159
16      175
17      180
18      181
19      189
20      200
21      201
22      207
23      209
24      232
25      249
26      270
27      291
28      293
29      311
       ...
161    2301
162    2336
163    2387
164    2388
165    2390
166    2396
167    2425
168    2474
169    2482
170    2484
171    2491
172    2510
173    2530
174    2537
175    2543
176    2548
177    2556
178    2569
179    2639
180    2648
181    2682
182    2686
183    2696
184    2700
185    2704
186    2710
187    2734
188    2807
189    2828
190    2829
Name: RegNo, Length: 191, dtype: int64